.header{
    height: 100px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    border-radius: 8px;
    z-index: 999;
}


.gallery{
    padding-top: 10em;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 1em;
    margin: 1em;
}

.city-photo{
    border-radius: 8px;
}
.city-name{
    color: white;
    position: relative;
    top: 15px;
    border-radius: 8px;
    background-color: brown;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
}

a{
    text-decoration: white;
    color: white;
}
.city-name a:hover{
    background-color: yellow;
    border-radius: 8px;
    color: blue;
}

.overlay{
    background-color: blue;
    overflow:hidden;
    width: 100%;
    transition: .5s ease;
}

@media screen and (max-width600){

}